@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  font-family: "DM Serif Display", serif;
}

nav ul {
  display: flex;

  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  align-items: center;
}

nav ul li {
  padding: 10px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
body {
  background-color: gray;
}

.brand img {
  width: 56px;
  padding-left: 10px;
}
.container {
  min-height: 64.4vh;
  background-color: black;
  color: white;
  display: flex;
  margin: 23px;
  width: 70%;
  margin: 23px auto;
  border-radius: 10px;
  padding: 35px;
  background-image: url("./assets/bg.jpg");
  background-position: center;
}
/* 
.songList{
    width: 100px;
} */
.songItem {
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: white;

  border-radius: 20px;
  padding: 3px;
}
.songItem i {
  margin-right: 10px;
}
.songName {
  /* flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: left; */
width: 399px;

}

.songItem img {
  width: 40px;
  margin-right: 13px;
  border-radius: 2px;
}

.bottom {
  position: sticky;
  height: 91px;
  background-color: black;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.icons {
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 35px;
}

#back,
#forward,
#repeat,
#shuffle {
  font-size: 20px;
}

.fa-solid {
  font-size: 32px;

  margin-right: 20px;
}

.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 58vh;

  text-align: center;
  background-color: aliceblue;
}
#play2 {
  margin-left: 19px;
  font-size: 21px;
}
.songListPlay {
  display: flex;
  align-items: end;
  justify-content: right;
}
